/* .newscard .card{
width: 72rem;
height: 14rem;
background: linear-gradient(#141e30, #552424);
color: #fff;
}
.newscard .card .col-md-8 .card-body{
    
    
}
.newscard .card .col-md-8 .card-body .card-title{
    font-size: 1.5rem;
}
.newscard .card .col-md-8 .card-body .comment{
    color: #f38fb9;
}
.newsheading{
    color: #AE275F;
    font-family: 'Times New Roman', Times, serif;
}
.newssearch{
    
    margin-right: 0rem;
    margin-top: 1.5rem;
   
    
} */