.projectdetails .projheading{
    font-family: 'Times New Roman', Times, serif;
    color: #861f41;
}
.projectdetails .projteam{
    font-family: 'Times New Roman', Times, serif;
    color: #861f41;
}
.projectdetails .projstake{
    font-family: 'Times New Roman', Times, serif;
    color: #861f41;
}
.projectdetails .projjob{
    font-family: 'Times New Roman', Times, serif;
    color: #861f41;
}